@font-face {
  font-family: "Camar";
  src: url(assets/Camar.otf);
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#text {
  width: 100vw;
  height: 100vh;
  color: black;
  background-color: white;
  font-family: "Camar";
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 800ms;
}
#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 125vw;
  height: 125vh;
}

.rect {
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  transition: ease-in-out 800ms;
  box-shadow: 0px 30px 45px rgba(22, 22, 22, 0.3);
}
.rect > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  border-radius: inherit;
  transition: ease-in-out 800ms;
}
.rect:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.rect:hover > img {
  opacity: 1;
  transform: scale(1.01);
}
.rect:nth-child(1) {
  background-color: #ed0134;
  height: 14%;
  width: 20%;
  left: 5%;
  top: 5%;
}

.rect:nth-child(2) {
  background-color: #961015;
  height: 24%;
  width: 14%;
  left: 42%;
  top: 12%;
}

.rect:nth-child(3) {
  background-color: #34711f;
  height: 18%;
  width: 16%;
  left: 12%;
  top: 34%;
}

.rect:nth-child(4) {
  background-color: #fe9602;
  height: 14%;
  width: 12%;
  left: 45%;
  top: 48%;
}

.rect:nth-child(5) {
  background-color: #63a5d2;
  height: 16%;
  width: 32%;
  left: 8%;
  top: 70%;
}

.rect:nth-child(6) {
  background-color: #a8cfea;
  height: 24%;
  width: 24%;
  left: 68%;
  top: 8%;
}

.rect:nth-child(7) {
  background-color: #797902;
  height: 16%;
  width: 20%;
  left: 50%;
  top: 74%;
}

.rect:nth-child(8) {
  background-color: #ffc619;
  height: 24%;
  width: 18%;
  left: 72%;
  top: 42%;
}
