@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-family: "Major Mono Display", monospace;
  font-size: 5rem;
}
